@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --navbar-h: 50px;
  --side-item-w: 100px;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --font-sans: Inter, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: JetBrains Mono, monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

@layer utilities {
  .page-h {
    height: calc(100dvh - var(--navbar-h));
  }

  .home-main-w {
    width: calc(100dvw - var(--side-item-w));
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-background text-foreground;
  }
}
